/* === googgle fonts === */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* === css reset === */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* === general style === */
:root{
    --Purple-50: hsl(260, 100%, 95%);
    --Purple-300: hsl(264, 82%, 80%);
    --Purple-500: hsl(263, 55%, 52%);
    --White: hsl(0, 0%, 100%);
    --Grey-100: hsl(214, 17%, 92%);
    --Grey-200: hsl(0, 0%, 81%);
    --Grey-400: hsl(224, 10%, 45%);
    --Grey-500: hsl(217, 19%, 35%);
    --Dark-blue: hsl(219, 29%, 14%);
    --Black: hsl(0, 0%, 7%);
    --shadow: 0 0 15px 5px rgba(0,0,0,.25);
}

html{
    font-size: 13px;
    font-family: "Barlow Semi Condensed", sans-serif;
}

.title{
    font-size: 1.5rem;
    font-weight: 600;
}

.text{
    font-size: 1rem;
    line-height: 1.4rem;
}

.name{
    font-size: .75rem;
    font-weight: 500;
}

.name span{
    font-size: .65rem;
    font-weight: 400;
}

.user{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.user img{
    display: block;
    width: 2rem;
    border-radius: 50%;
    border: 2px solid var(--White);
}


/* === body style === */
body{
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
    min-height: 100%;
    display: grid;
    place-items: center;
    gap: 4rem;
    /* place-content: center; */
    /* justify-content: center; */
    background: var(--White);
}

.container{
    width: 80%;
    padding: 2rem;
    display: grid;
    /* place-content: center; */
    grid-auto-columns: 1fr;
    /* grid-auto-rows: auto; */
    grid-template-areas: 
    "card-1 card-1 card-2 card-5"
    "card-3 card-4 card-4 card-5";
    gap: 1.5rem;
    animation: animate .3s forwards ease-in;
}

/* === animation function for container === */
@keyframes animate{
    from{
        transform: scale(1.1);
    }
    to{
        transform: scale(1);
    }
}

.card{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: var(--shadow);
    color: var(--Purple-50);
    transform-origin: top;
    animation: card .75s forwards ease-in;
}

/* === animation funtion for each card === */
@keyframes card{
    from{
        transform: scale(.65);
    }
    to{
        transform: scale(1);
    }
}

.card-3, .card-5{
    background-color: var(--White);
    color: var(--Dark-blue);
}

.card-1{
    grid-area: card-1;
    background: var(--Purple-500);
}

.card-2{
    grid-area: card-2;
    background: var(--Grey-500);
}

.card-3{
    grid-area: card-3;
}

.card-4{
    grid-area: card-4;
    background: var(--Dark-blue);
}

.card-5{
    grid-area: card-5;
}

@media (max-width:800px){
    .container{
        grid-template-areas: 
        "card-1 card-2"
        "card-1 card-4"
        "card-3 card-4"
        "card-5 card-5";
    }
}

@media (max-width:500px){
    .container{
        width: 95%;
        grid-template-areas: 
        "card-1"
        "card-2"
        "card-3"
        "card-4"
        "card-5";
    }
}